* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}

/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #575d5e;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 8px;
}

.logo__text {
  color: #000000;
}

.btn {
  min-width: 173px;
  height: 53px;
  outline: none;
  border: none;
  border-radius: 999px;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

/* -----------------Header-------------------- */

.header__inner {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 38px;
}
